@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.jumbotron {
  padding: 30px;
  background: url('gedung.jpg');
  background-color: #f86a94;
  text-align: center;
  font-family: 'Yeseva One', 'Quicksand', sans-serif;
  font-size: 25px;
  color: #524A4E;
}


body {
   background: url('gedung.jpg');
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}

header {
   display: inline;
}

main {
   background: url('gedung.jpg');
   background-color: #FDEFF4;
   padding: 10px;
   overflow: auto;
}
 
h2,h3 {
   color:#524A4E;
}

nav {
  background-color: #524A4E;
  padding: 3px;
  position: sticky;
  top: 0;
}

nav a {
   font-size: 20px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

nav a:hover {
   font-weight: bold;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.profile header{
   text-align: center;
}

.profile img {
   width: 200px;
}

.profile section {
   text-align: left;
}

footer {
   padding: 10px;
   color: white;
   background-color: #524A4E;
   text-align: center;
   font-weight: bold;
}

.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}

.card {
   background-color: #FFC0D3;
   box-shadow: 2px 4px 6px 2px rgb(130, 126, 126) ;
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}


#content {
   float: left;
   width: 75%;
 }
 
 aside {
   float: right;
   width: 25%;
   padding-left: 20px;
 }

 * {
   box-sizing: border-box;
 }


.container {
   display: flex;
   flex-direction: row;

   /* Properti lainnya */
   width: 1000px;
   height: 230px;
   background-color: #FDEFF4;
   border: 2px solid black;
   border-radius: 10px;
   margin: 0 auto;
}
.box {
   /* properti lainnya */
   background-color: #FDEFF4;
   margin: 10px;
   border-radius: 10px;
}

.first {
   flex-grow: 3;
}
.second {
   flex-grow: 1;
}

.Experience{
   padding :20px

}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


 @media screen and (max-width: 1000px) {
   #content,
   aside {
     width: 100%;
     padding: 0;
   }
 }
 